.idea/
*.iml
*.swp

java/client/target/
java/server/target/
java/babel_cache/
java/server/src/main/resources/web/
java/server/src/main/web/jet/web
java/server/src/main/web/react/node_modules
java/server/src/main/web/react/build

js/node_modules/

package-lock.json
yarn.lock
