.classpath
.DS_Store
.gradle
.idea/
.project
.settings/

*.iml
*.swp

babel_cache/
build/
gradle/
node_modules/
target/

java/server/src/main/resources/web/
java/server/src/main/web/jet/staged-themes/
java/server/src/main/web/jet/web/
java/server/src/main/web/react/build

java/micronaut-server/src/main/resources/web/
java/micronaut-server/src/main/web/react/build
java/spring-server/src/main/web/react/build/
java/spring-server/src/main/web/react/node/
java/spring-server/src/main/web/react/npm-debug.log

dependency-reduced-pom.xml
package-lock.json
yarn.lock
.java-version
.factorypath
