debug: false
server:
  port: 3000
spring:
  application:
    name: todo-list-spring-server
logging:
  level:
    root: warn
    Coherence: warn
    com.oracle.coherence.spring: info
    org.springframework: warn
    org.springframework.boot: info
