name: CI Build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 5 * * *"
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: Install React front end dependencies
      run: |
        pushd java/server/src/main/web/react
        npm install
        popd
    - name: Install Oracle JET
      run: npm install -g @oracle/ojet-cli
    - name: Build Oracle JET front end
      run: |
        pushd java/server/src/main/web/jet
        npm install
        ojet build
        popd
    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build
      run: mvn -B install --file java/pom.xml -s java/.mvn/settings.xml
    - name: Run Java Server
      run: |
        pushd java/server
        mvn exec:exec -s ../.mvn/settings.xml &
        popd

  build-js:
    runs-on: ubuntu-latest
    needs: [build-java]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name : Run Node.js Server
      run: | 
        pushd js
        npm install
        npm run start
        popd  
